@media (min-width: 576px) {
  .project-profile-img {
    display: flex;
  }
}

@media (min-width: 768px) {
  /* Desktop Navbar */
  .navbar-toggler {
    display: none;
  }

  .main-nav {
    position: static;
    flex-direction: row;
    width: unset;
    height: unset;
    margin-left: auto;
    background-color: transparent;
    box-shadow: none;
  }

  .main-nav li {
    width: unset;
  }

  .main-nav a {
    font-size: 1rem;
    text-align: unset;
  }

  .main-nav a:hover {
    color: var(--gray);
    background-color: transparent;
  }
  /* End - Desktop Navbar */

  .banner.flex-column {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 348px;
  }

  .banner-img {
    margin-top: 20px;
  }

  .banner-text h2 {
    margin-bottom: 20px;
    animation: slide-right 0.8s ease-in-out;
  }

  .banner-text p {
    margin-left: 20px;
    animation: slide-down 0.6s ease-in-out forwards;
    animation-delay: 0.8s;
  }

  .banner-text::before {
    display: none;
  }

  .banner-text::after {
    content: '';
    display: table;
    width: 4px;
    height: 40px;
    transform: translateY(-90px);
    background-color: var(--lightgray);
    animation: expand-height 0.8s ease-in-out forwards;
    animation-delay: 0.6s;
  }

  .skills-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  footer .web-developer-name {
    flex-direction: row;
  }
}

@media (max-width: 335px) {
  .footer-profile-details p {
    align-self: center;
  }
}

@media (max-width: 300px) {
  .skills-box img:not(.long-width) {
    display: none;
  }

  .skills-box .long-width {
    width: 100%;
  }
}

@media (max-width: 200px) {
  body {
    width: 200px;
  }
}
