@import url(layout.css);
@import url(utilities.css);
@import url(animation.css);
@import url(javaScriptStyles.css);

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  color: #333;
  background-color: #fff;
}

/* Layout */
section {
  padding: 60px 0;
}

/* Header */
header {
  background-color: #f6f6f6;
  background: linear-gradient(to right bottom, #fff, #f4f4f4);
  min-height: 650px;
}

nav {
  padding: 25px 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: padding 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.logo-container img {
  height: 40px;
}

.navbar-toggler {
  margin-left: auto;
}

.show-main-nav {
  display: flex;
  height: 255px !important;
  border-top: 1px solid var(--lightgray);
}

.main-nav {
  position: absolute;
  top: 70px;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #f8f8f8;
  box-shadow: 0px 1px 2px var(--lightgray);
  transition: top 0.2s, height 0.2s;
}

.main-nav li {
  width: 100%;
}

.main-nav a {
  display: block;
  padding: 10px 15px;
  font-size: 1.125rem;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.main-nav a:hover {
  background-color: #eee;
}

.banner.flex-column {
  margin-top: 248px;
}

.banner-img img {
  height: 120px;
  animation: fade-in 0.8s ease-in-out;
}

.banner-text {
  padding: 0 20px;
  margin-top: 20px;
}

.banner-text::before {
  content: '';
  display: table;
  margin: 20px auto 10px;
  width: 0px;
  height: 4px;
  background-color: var(--lightgray);
  animation: mobile-expand-width 0.8s forwards ease-in-out;
  animation-delay: 0.6s;
}

.banner-text h2 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  animation: mobile-slide-down 0.8s ease-in-out;
}

.banner-text p {
  margin-bottom: 0;
  margin-left: 0;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  animation: mobile-slide-down 0.8s ease-in-out forwards;
  animation-delay: 0.6s;
}

/* About-me Section */
.about-me-overview img {
  display: block;
  width: 120px;
  padding: 2px;
  margin: 0 auto;
  border: 2px solid var(--lightblue);
  border-radius: 50%;
}

.about-me-detail {
  max-width: 640px;
}

.about-me-accounts {
  flex-wrap: wrap;
  margin-top: 10px;
}

.about-me-accounts a {
  padding: 0 10px;
  line-height: 1;
  font-size: 0.8rem;
  color: var(--darkgray);
  text-decoration: none;
}

.about-me-accounts i {
  font-size: 1.8rem;
}

.about-me-accounts a:hover {
  color: inherit;
}

/* My-Skills Section*/
.skills-grid-container {
  display: grid;
  grid-gap: 20px 30px;
  grid-template-columns: 1fr;
}

.skills-box.flex-row {
  justify-content: flex-start;
}

.skills-box {
  padding: 5px 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px var(--lightgray);
  transition: box-shadow 0.2s;
}

.skills-box:hover {
  box-shadow: 2px 2px 8px var(--lightgray);
}

.skills-box img {
  max-width: 120px;
  max-height: 80px;
}

.skills-box .long-width {
  max-width: 240px;
}

.skills-details {
  font-size: 1rem;
  padding: 10px;
}

.skills-details li::before {
  content: '\2022';
  padding: 0 5px;
}

/* Projects Section */
#projects {
  background-color: #f4f4f4;
  background: linear-gradient(to right bottom, #fff, #f4f4f4);
}

/* Project header */
.project-header.flex-column {
  align-items: flex-start;
}

.project-header {
  max-width: 640px;
  margin: 0 auto 30px;
}

.filter-project {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.filter-project h4 {
  margin: 0 8px 3px 0;
  font-size: 1.0625rem;
}

.filter-list {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter-item {
  padding: 3px 18px;
  margin: 0 8px 8px 0;
  font-size: 0.93rem;
  border: 1px solid #e4e6e7;
  border-radius: 30px;
  cursor: pointer;
}

.search-project {
  align-items: stretch;
  margin-top: 10px;
}

.search-project input {
  width: 100%;
  border-right: 0;
}

.search-project i {
  padding: 7px;
  font-size: 1.1rem;
  color: #fff;
  background-color: var(--blue);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.search-project i:hover {
  background-color: var(--darkblue);
}

.search-project i:active {
  padding-top: 8px;
}

/* Projects Grid */
.projects-container {
  max-width: 640px;
}

.filtered-projects-info {
  visibility: hidden;
  align-self: flex-start;
  margin-left: 10px;
}

.project-box {
  min-height: 180px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 6px var(--lightgray);
}

.project-profile-img {
  display: none;
  flex: 1;
  padding: 0 5px;
  overflow: hidden;
}

.project-profile-img img {
  display: block;
  margin: auto;
  max-height: 180px;
}

.project-details {
  flex: 2;
  align-items: flex-start;
  padding: 10px 20px 10px 10px;
}

.project-details h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.project-details p {
  font-size: 0.93rem;
}

.project-type {
  font-size: 0.93rem;
  color: var(--gray);
  text-transform: uppercase;
}

.project-type::after {
  content: '';
  display: table;
  width: 40px;
  height: 4px;
  margin: 5px 0;
  background-color: var(--greenyellow);
}

.project-links a {
  margin: 5px;
}

.project-links .btn {
  padding: 6px 12px;
  margin-left: 20px;
  font-size: 17px;
  color: var(--darkblue);
  background-color: #fff;
  border: 1px solid var(--darkblue);
}

.project-links .btn:hover {
  color: #fff;
  background-color: var(--darkblue);
}

/* Pagination */
.pagination {
  color: var(--blue);
  padding-bottom: 30px;
}

.page-item {
  padding: 4px 8px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.page-item:not(.disabled) {
  cursor: pointer;
}

.page-item:not(.disabled, .active):hover {
  border-color: #d9ecf2;
}

/* Contact section */
#contact > .container > .flex-column {
  max-width: 600px;
  margin: 0 auto;
}

#contact form.flex-column {
  width: 100%;
  align-items: stretch;
  margin: 20px auto 0;
}

#contact input,
#contact textarea {
  margin: 4px 0;
}

#contact input[type='submit'] {
  align-self: center;
  font-weight: 500;
}

/* Footer */
footer {
  padding: 60px 0 10px;
  color: var(--darkgray);
  background-color: #f4f4f4;
  background: linear-gradient(to right bottom, #f4f4f4, #fff);
}

footer > .container > .flex-column {
  align-items: stretch;
}

.footer-profile {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-profile-overview {
  flex-wrap: wrap;
}

.footer-profile-overview,
.footer-profile-accounts {
  margin-bottom: 30px;
}

.footer-profile-overview img {
  display: block;
  height: 90px;
  padding: 2px;
  border: 2px solid var(--lightblue);
  border-radius: 100%;
}

.footer-profile-details p {
  padding: 2px 10px 0;
  margin: 0;
  align-self: flex-start;
  text-align: center;
}

.footer-profile-details p:first-child {
  font-size: 1.13rem;
  font-weight: 500;
}

.footer-profile-accounts {
  flex-wrap: wrap;
}

.footer-profile-accounts li {
  padding-right: 8px;
}

.footer-accounts a {
  font-size: 1.3rem;
}

.footer-accounts a i {
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #f8f8f8;
  text-align: center;
  background-color: #b2b2b2;
  border-radius: 100%;
  transition: background-color 0.1s;
}

.footer-blog-youtube a {
  color: #808080;
  font-size: 1.0625rem;
  line-height: 32px;
}

.footer-blog-youtube a:hover {
  color: #444;
}

.footer-blog-youtube::before {
  content: '';
  display: block;
  width: 2px;
  background-color: var(--lightgray);
  align-self: stretch;
  margin: 0 12px 0 4px;
}

footer .web-developer-name {
  margin-top: 120px;
  text-align: center;
}

.footer-accounts .fa-twitter {
  background-color: #1dcbea;
}

.footer-accounts .fa-linkedin {
  background-color: #1182c9;
}

.footer-accounts .fa-github {
  background-color: #333;
}

/* .footer-accounts a:hover .fa-twitter {
  background-color: #1dcbea;
} */
