<<<<<<< HEAD
=======
@keyframes popup {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
>>>>>>> suraffy/main

@keyframes slide-right {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

<<<<<<< HEAD

=======
>>>>>>> suraffy/main
@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes expand-width {
  from {
    width: 0px;
  }

  to {
    width: 80px;
  }
}
<<<<<<< HEAD
=======
@keyframes shake {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(8deg);
  }
}
>>>>>>> suraffy/main
