@media (min-width: 576px) {
  .project-profile-img {
    display: flex;
  }
}

@media (min-width: 768px) {
  /* Desktop Navbar */
  .navbar-toggler {
    display: none;
  }

  .main-nav {
    position: static;
    flex-direction: row;
    width: unset;
    height: unset;
    margin-left: auto;
    background-color: transparent;
    box-shadow: none;
  }

  .main-nav li {
    width: unset;
  }

  .main-nav a {
    font-size: 1rem;
    text-align: unset;
  }

  .main-nav a:hover {
    color: var(--gray);
    background-color: transparent;
  }
  /* End - Desktop Navbar */

  .banner-img {
    margin-top: 20px;
    margin-top: 10px;
  }

  .banner-text h2 {
    /* margin-bottom: 20px; */
    animation: slide-left 0.8s ease-in-out;
  }

  .banner-text p {
    margin-left: 20px;
  }

  .skills-grid-container {
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: auto auto auto auto;
  }

  .long-width {
    grid-column: span 2;
    justify-content: flex-start;
  }

  .footer-profile {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .footer-about-me {
    flex-wrap: nowrap;
  }

  footer .web-developer-name {
    flex-direction: row;
  }
}

@media (max-width: 300px) {
  .skills-box img:not(.long-width) {
    display: none;
  }

  .skills-box .long-width {
    width: 100%;
  }
}

@media (max-width: 200px) {
  body {
    width: 200px;
  }
}
