@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@100;300;400;500&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --blue: dodgerblue;
  --lightblue: rgba(30, 143, 255, 0.4);
  --darkblue: rgb(0, 128, 255);
  --greenyellow: rgb(122, 204, 0);
  --gray: #888;
  --lightgray: #ccc;
  --darkgray: #666;

  --background: #fff;
  --surface: #f8f8f8;
  --navbar-bg: #f8f8f8;
  --box-bg: #f6f6f6;
  --menu-bg: #f6f6f6;
  --menu-bg-hover: #f0f0f0;
  --btn-bg: #efefef;
  --btn-bg-hover: #e4e4e4;

  --text-color: #242424;
  --text-color-secondary: #444;
  --text-color-bg: #222;
  --error-text: rgb(199, 0, 0);

  --border-soft: #ccc;
  --border-medium: #888;
  --border-hard: #666;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Link */
a {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Input and Button */
input,
select,
textarea,
button,
.btn {
  padding: 4px 10px;
  font: inherit;
  color: inherit;
  background: var(--background);
  border: 1px solid var(--border-soft);
  border-radius: 2px;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--border-medium);
  font-size: 15px;
}

input[type="submit"],
button,
.btn {
  padding: 8px 12px;
  background-color: var(--btn-bg);
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

input[type="submit"]:hover,
button:hover,
.btn:hover {
  background-color: var(--btn-bg-hover);
  text-decoration: none;
}

textarea {
  resize: vertical;
}

/* Images */
img {
  max-width: 100%;
  vertical-align: middle;
}

/* Headings and Paragraphs */
h1 {
  margin: 10px 0 20px;
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  margin: 10px 0 20px;
  font-size: 1.6rem;
}

.h2-underline {
  text-align: center;
}

.h2-underline:not(#about-me .h2-underline) {
  margin-top: 0;
}

.h2-underline::after {
  content: "";
  display: table;
  width: 80px;
  height: 4px;
  margin: 0 auto;
  background: var(--border-soft);
  transition: width 0.4s;
  transition-delay: 0.6s;
}

p {
  font-size: 1rem;
  margin: 0 0 10px 0;
}

.navbar-toggler {
  padding: 0.5rem 0.625rem;
  background-color: var(--surface);
  border: 1px solid var(--border-soft);
  border-radius: 0.25rem;
  cursor: pointer;
}

.toggler-bar {
  display: block;
  width: 1.375rem;
  height: 0.125rem;
  border-radius: 1px;
  background-color: var(--text-color);
}

.toggler-bar + .toggler-bar {
  margin-top: 0.25rem;
}

hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--border-soft);
}
